<dom-module id="operations-page">
  <template>
    <style is="custom-style" include="shared-styles">
      :host {
        display: block
      }

      .operation-date {
        flex: 0 0 100%;
      }

      .operation-data {
        flex-grow: 1;
      }

      .operation-type {
        font-size: 0.8rem;
      }

      .label {
        font-weight: 600;
        font-size: 0.8rem;
      }

      .amount {
        font-weight: bold;
        font-size: 1.4rem;
      }

      .amount.down {
        color: red;
      }

      .amount.up {
        color: green;
      }



      @media (max-width: 425px) {
        .amount {
          flex: 0 0 100%;
        }
      }
    </style>

    <div class="container">
      <h1>Operations</h1>
      <div class="list-item">
        <div class="account-data">
          <div class="account-id">[[account.accountID]]</div>
          <div class="account-name">([[account.accountName]])</div>
        </div>
        <div class="balance">
          <data-format value="[[account.balance]]" type="Number" locale="es-MX" options="{ 'style': 'currency', 'currency': 'USD' }" />
        </div>
      </div>
    </div>

    <div class="container">
      <iron-list items="[[operations]]" as="operation">
        <template>
          <paper-icon-item>
            <iron-icon icon="icons:trending-[[__amountClass(operation.amount)]]" slot="item-icon"> </iron-icon>
            <paper-item-body two-line>
              <div class="list-item">
                <div class="operation-date"><span class="operation-type">[[operation.type]]</span>:
                  <data-format value="[[operation.date.$date]]" type="DateTime" locale="es-MX" options="{ 'year': 'numeric', 'month': 'numeric', 'day': 'numeric', 'hour': 'numeric', 'minute': 'numeric', 'second': 'numeric', 'hour12': false }" />
                </div>
                <div class="operation-data">
                  <div class="operation-concept"><span class="label">Concept:</span> [[operation.concept]]</div>
                  <div class="operation-referenced-account"><span class="label">Referenced account:</span>
                    [[operation.referencedAccount]]</div>
                </div>
                <div class$="amount [[__amountClass(operation.amount)]]">
                  <data-format value="[[operation.amount]]" type="Number" locale="es-MX" options="{ 'style': 'currency', 'currency': 'USD' }" />
                </div>
              </div>
            </paper-item-body>
          </paper-icon-item>
        </template>
      </iron-list>
    </div>

  </template>

  <script>
    /**
     * `operations-page` Account operations list
     *
     * @summary Account operations.
     * @customElement
     * @polymer
     * @extends {Polymer.Element}
     */
    class OperationsPage extends Polymer.Element {
      /**
       * String providing the tag name to register the element under.
       */
      static get is() {
        return 'operations-page';
      }

      /**
       * Object describing property-related metadata used by Polymer features
       */
      static get properties() {
        return {
          params: {
            type: Object,
            observer: '__paramsChanged'
          },
          operations: Array
        };
      }

      /**
       * Instance of the element is created/upgraded. Use: initializing state,
       * set up event listeners, create shadow dom.
       * @constructor
       */
      constructor() {
        super();
      }

      /**
       * Use for one-time configuration of your component after local DOM is initialized.
       */
      ready() {
        super.ready();

        this.customer = JSON.parse(window.sessionStorage.getItem('customer'));
        this.account = JSON.parse(window.sessionStorage.getItem(this.params.account));
      }

      __paramsChanged() {
        app.$.dataManager
          .json(`api/customers/accounts/${this.params.account}/operations?l=100&s={"date":-1}`, 'GET')
          .then(operations => {
            this.operations = operations;
          })
          .catch(error => {
            app.errorMessage('Could not get account operation information');
            console.log('error', error);
          });
      }

      __amountClass(amount) {
        return amount < 0 ? 'down' : 'up'
      }
    }

    window.customElements.define(OperationsPage.is, OperationsPage);
  </script>
</dom-module>
