<dom-module id="payments-page">
  <template>
    <style is="custom-style" include="shared-styles">
      :host {
        display: block
      }
    </style>

    <div class="container">
      <h1>Payments</h1>
      <div class="list-item">
        <div class="account-data">
          <div class="account-id">[[account.accountID]]</div>
          <div class="account-name">([[account.accountName]])</div>
        </div>
        <div class="balance">
          <data-format value="[[account.balance]]" type="Number" locale="es-MX" options="{ 'style': 'currency', 'currency': 'USD' }" />
        </div>
      </div>
    </div>
    <div class="container">
      <responsive-form class="max-cols-2" id="paymentForm" legend="[[params.operation]] data" fields="[[fields]]"
        actions="[[actions]]"></responsive-form>
    </div>

  </template>

  <script>
    const paymentFields = [
      {
        id: 'type',
        label: 'Type:',
        hidden: true
      },
      {
        id: 'concept',
        type: 'text',
        label: 'Concept:',
        value: '',
        required: true,
        autofocus: true
      },
      {
        id: 'amount',
        type: 'number',
        label: 'Amount:',
        value: '',
        required: true
      },
      {
        id: 'referencedAccount',
        type: 'number',
        label: 'Reference account:',
        value: '',
        minLength: 10,
        maxLength: 10,
        max: 9999999999,
        size: 10,
        required: true,
      }
    ];

    const paymentActions = [
      { id: 'submit', label: 'Pay', disabled: true, eventName: 'pay-btn-pressed' },
      { id: 'reset', label: 'Clean', disabled: true }
    ];

    /**
     * `payments-page` Payments page
     *
     * @summary Payments Page.
     * @customElement
     * @polymer
     * @extends {Polymer.Element}
     */
    class PaymentsPage extends Polymer.Element {
      /**
       * String providing the tag name to register the element under.
       */
      static get is() {
        return 'payments-page';
      }

      /**
       * Object describing property-related metadata used by Polymer features
       */
      static get properties() {
        return {
          params: {
            type: Object,
            observer: '__paramsChanged'
          },
          fields: {
            type: Array,
            value: paymentFields
          },
          actions: {
            type: Array,
            value: paymentActions
          }
        };
      }

      /**
       * Instance of the element is created/upgraded. Use: initializing state,
       * set up event listeners, create shadow dom.
       * @constructor
       */
      constructor() {
        super();
      }

      /**
       * Use for one-time configuration of your component after local DOM is initialized.
       */
      ready() {
        super.ready();

        this.customer = JSON.parse(window.sessionStorage.getItem('customer'));
        this.account = JSON.parse(window.sessionStorage.getItem(this.params.account));
        this.$.paymentForm.addEventListener('form-status-changed', e => {
          e.detail === 'valid' ? this.$.paymentForm.enable('submit') : this.$.paymentForm.disable('submit');
          this.$.paymentForm.enable('reset');
        });
        this.$.paymentForm.addEventListener('pay-btn-pressed', e => {
          this.$.paymentForm.disable('submit');
          let paymentData = this.$.paymentForm.getValues();
          console.log('paymentData', paymentData);

          app.$.dataManager
            .json(`api/customers/accounts/${this.account._id.$oid}/operations`, 'POST', paymentData)
            .then(response => {
              app.successMessage(this.params.operation + ' operation completed successfully');
              console.log('response', response);
              app.$.dataManager
                .json('api/customers/accounts', 'GET')
                .then(accounts => {
                  app.accountsInfo.accounts = app.accounts = accounts;
                  for (let account of accounts) {
                    if (account.credit) {
                      this.hasCreditCards = true;
                      window.sessionStorage.setItem('hasCreditCards', 'true');
                    }
                    window.sessionStorage.setItem(account._id.$oid, JSON.stringify(account));
                  }

                  this.account = JSON.parse(window.sessionStorage.getItem(this.params.account));

                })
                .catch(error => {
                  console.log('error', error);
                });
            })
            .catch(error => {
              app.errorMessage(this.params.operation + ' operation has not been executed');
              console.error(error);
            });
        });
      }

      __paramsChanged() {
        for (var key in this.params) {
          this.params[key] = decodeURI(this.params[key])
        }
        this.fields[0].value = this.params.operation
        if (this.params.operation === 'Transfer') {
          let accounts = [];
          app.customer.accounts.forEach(account_id => {
            if (account_id !== this.params.account) {
              let account = JSON.parse(window.sessionStorage.getItem(account_id));
              if (!account.credit) {
                accounts.push({ value: account.accountID, label: account.accountID });
              }
            }
          });

          this.fields[3].list = accounts;
          if (accounts.length === 1) {
            this.fields[3].selected = 0;
          }
        } else if (this.params.operation === 'Pay credit card') {
          let accounts = [{ value: '', label: ' -- Select account -- ' }];
          app.customer.accounts.forEach(account_id => {
            if (account_id !== this.params.account) {
              let account = JSON.parse(window.sessionStorage.getItem(account_id));
              if (account.credit) {
                accounts.push({ value: account.accountID, label: account.accountID });
              }
            }
          });

          this.fields[3].list = accounts;
          if (accounts.length === 1) {
            this.fields[3].selected = 0;
          }
        } else {
          delete this.fields[3].list;
        }
      }

    }

    window.customElements.define(PaymentsPage.is, PaymentsPage);
  </script>
</dom-module>
