<!-- <link rel="import" href="../../bower_components/polymer/polymer.html"> -->
<link rel="import" href="../../bower_components/paper-styles/typography.html">
<link rel="import" href="../../bower_components/paper-styles/color.html">

<style is="custom-style">

</style>