body {
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
  background-color: #fff;
  min-height: 97vh;
}

@media (max-width: 426px) {
  body {
    font-size: calc(3.5vw) !important;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  body {
    font-size: calc(2vw) !important;
  }
}

@media (min-width: 1025px) and (max-width: 1500px) {
  body {
    font-size: calc(1vw) !important;
  }
}

@media (min-width: 1501px) {
  body {
    font-size: 18px !important;
  }
}
