<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../../bower_components/paper-styles/classes/shadow.html">

<!-- shared styles for all elements and index.html -->
<dom-module id="shared-styles">
  <template>
    <style is="custom-style" include="iron-flex iron-flex-alignment iron-flex-factors">
      :host {}

      a {
        text-decoration: none;
        font-size: inherit;
        color: inherit;
      }

      section {
        padding: 44px 16px;
      }

      .container {
        @apply --layout-horizontal;
        max-width: 800px;
        margin: 0 auto;
        background-color: #fff;
        margin-bottom: 2rem;
      }

      .container>* {
        @apply --layout-flex;
      }

      .container img {
        max-width: 100%;
        max-height: 100%;
      }

      .container h1,
      .container h2,
      .container h3,
      .container h4,
      .container h5,
      .container h6 {
        font-weight: 300;
        margin: 1rem 0;
      }

      .container h1 {
        font-size: 2rem;
      }

      .container h2 {
        font-size: 1.8rem;
      }

      .container h3 {
        font-size: 1.6rem;
      }

      .container h4 {
        font-size: 1.4rem;
      }

      .container h5 {
        font-size: 1.2rem;
      }

      .container h6 {
        font-size: 1rem;
      }

      .container p {
        line-height: 1.5;
      }

      .list-item {
        display: flex;
        flex-wrap: wrap;
        border-bottom: 3px solid #31f0ef;
      }

      @media (max-width: 768px) {
        .container {
          @apply --layout-vertical;
        }

        .container>* {
          flex: 0 0 100%
        }

        section {
          padding: 2vw 0;
        }
      }

      .account-data {
        flex-grow: 1;
      }

      .account-id {
        font-weight: 400;
      }

      .account-name {
        font-size: 0.8rem;
      }

      .balance {
        font-weight: bold;
        font-size: 1.4rem;
      }
    </style>
  </template>
</dom-module>