<dom-module id="data-format">
  <template>
    <style>
      :host {
        display: inline;
      }
    </style>
    <span>[[__valueFormated]]</span>
  </template>

  <script>
    /**
     * `data-format` Data format component
     *
     * @summary Data format.
     * @customElement
     * @polymer
     * @extends {Polymer.Element}
     */
    class DataFormat extends Polymer.Element {
      /**
       * String providing the tag name to register the element under.
       */
      static get is() {
        return 'data-format';
      }

      /**
       * Object describing property-related metadata used by Polymer features
       */
      static get properties() {
        return {
          value: {
            observer: '__valueChanged'
          },
          locale: String,
          type: String,
          options: Object
        };
      }

      /**
       * Instance of the element is created/upgraded. Use: initializing state,
       * set up event listeners, create shadow dom.
       * @constructor
       */
      constructor() {
        super();
      }

      /**
       * Use for one-time configuration of your component after local DOM is initialized. 
       */
      ready() {
        super.ready();
        this.options = typeof this.options === 'string' ? JSON.parse(this.options.replace(/[']/g, '"')) : this.options;
      }

      __valueChanged() {
        this.__valueFormated =
          this.type === 'Number'
            ? this.__NumberFormat()
            : this.type === 'DateTime'
              ? this.__DateTimeFormat()
              : this.value + ', ' + this.type + ', ' + this.format;
      }

      __NumberFormat() {
        return Intl.NumberFormat(this.locale || 'en-US', this.options).format(this.value);
      }

      __DateTimeFormat() {
        return Intl.DateTimeFormat(this.locale || 'en-US', this.options).format(Date.parse(this.value));
      }

    }

    window.customElements.define(DataFormat.is, DataFormat);
  </script>
</dom-module>