<dom-module id="login-page">
  <template>
    <style is="custom-style" include="shared-styles">
      :host {}

      responsive-form {
        max-width: 425px;
      }
    </style>

    <div class="container">
      <responsive-form class="max-cols-1" id="loginForm" legend="Access data" fields="[[fields]]" actions="[[actions]]"></responsive-form>
    </div>
  </template>

  <script>
    const loginFields = [
      { id: 'channel', value: 'WEBC', hidden: true },
      {
        id: 'userID',
        type: 'email',
        label: 'E-mail address',
        value: '',
        required: true,
        remember: true,
        autofocus: true
      },
      { id: 'password', type: 'password', label: 'Password', value: '', required: true }
    ];

    const loginActions = [{ id: 'submit', label: 'Login', disabled: true, eventName: 'login-btn-pressed' }];

    /**
     * `login-page` Landing login page of banca en linea
     *
     * @summary login.
     * @customElement
     * @polymer
     * @extends {Polymer.Element}
     */
    class LoginPage extends Polymer.Element {
      /**
       * String providing the tag name to register the element under.
       */
      static get is() {
        return 'login-page';
      }

      /**
       * Object describing property-related metadata used by Polymer features
       */
      static get properties() {
        return {
          fields: {
            type: Array,
            value: loginFields
          },
          actions: {
            type: Array,
            value: loginActions
          }
        };
      }

      /**
       * Use for one-time configuration of your component after local DOM is initialized.
       */
      ready() {
        super.ready();

        this.$.loginForm.addEventListener('form-status-changed', e =>
          e.detail === 'valid' ? this.$.loginForm.enable('submit') : this.$.loginForm.disable('submit')
        );
        this.$.loginForm.addEventListener('login-btn-pressed', e => {
          this.$.loginForm.disable('submit');
          let loginData = this.$.loginForm.getValues();
          app.$.dataManager
            .json('security/access', 'POST', loginData)
            .then(customerResponse => {
              app.$.dataManager
                .json('api/customers/accounts', 'GET')
                .then(accountsResponse => {
                  customerResponse.accounts = accountsResponse.reduce((sal, cur, index, array) => {
                    sal.push(cur._id.$oid)
                    return sal;
                  }, []);
                  app.customer = customerResponse;
                  app.loggedIn = true;
                }).catch(error => {
                  app.errorMessage('Accounts information cannot be retrieved, refresh the page');
                  console.error(error);
                })
            })
            .catch(error => {
              app.errorMessage('E-mail/Password incorrect');
              console.error('E-mail/Password incorrect');
              console.error(error);
            });
        });
      }
    }

    window.customElements.define(LoginPage.is, LoginPage);
  </script>
</dom-module>
