<link rel="import" href="../../../bower_components/polymer/polymer-element.html">

<dom-module id="not-found-page">
  <template>
    <style>
      :host {
        display: block
      }
    </style>

    <h1>404 .- Page not found!!!</h1>

  </template>

  <script>
    /**
     * `not-found-page` This page shows up when a resource is not found on this domain
     *
     * @summary 404 - Page Not Found.
     * @customElement
     * @polymer
     * @extends {Polymer.Element}
     */
    class NotFoundPage extends Polymer.Element {
      /**
       * String providing the tag name to register the element under.
       */
      static get is() {
        return 'not-found-page';
      }

      /**
       * Object describing property-related metadata used by Polymer features
       */
      static get properties() {
        return {

        };
      }

      /**
       * Instance of the element is created/upgraded. Use: initializing state,
       * set up event listeners, create shadow dom.
       * @constructor
       */
      constructor() {
        super();
      }

      /**
       * Use for one-time configuration of your component after local DOM is initialized. 
       */
      ready() {
        super.ready();

        Polymer.RenderStatus.afterNextRender(this, function () {

        });
      }

    }

    window.customElements.define(NotFoundPage.is, NotFoundPage);
  </script>
</dom-module>