<link rel="import" href="../../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../../bower_components/paper-input/paper-input-container.html">

<dom-module id="responsive-form">
  <template>
    <style is="custom-style" include="shared-styles">
      :host {
        display: block;
        margin: 0 auto;
        --sm-responsive-form-flex: 0 0 calc(50% - 1rem);
        --md-responsive-form-flex: 0 0 calc(33.333% - 1rem);
        --lg-responsive-form-flex: 0 0 calc(25% - 1rem);
        @apply --responsive-form;
      }

      :host(.max-cols-1) {
        margin: 0;
        --sm-responsive-form-flex: 0 0 calc(100%);
        --md-responsive-form-flex: 0 0 calc(100%);
        --lg-responsive-form-flex: 0 0 calc(100%);
        @apply --responsive-form-max-cols-1;
      }

      :host(.max-cols-2) {
        --sm-responsive-form-flex: 0 0 calc(50% - 1rem);
        --md-responsive-form-flex: 0 0 calc(50% - 1rem);
        --lg-responsive-form-flex: 0 0 calc(50% - 1rem);
        @apply --responsive-form-max-cols-2;
      }

      :host(.max-cols-3) {
        --sm-responsive-form-flex: 0 0 calc(50% - 1rem);
        --md-responsive-form-flex: 0 0 calc(33.3333% - 1rem);
        --lg-responsive-form-flex: 0 0 calc(33.3333% - 1rem);
        @apply --responsive-form-max-cols-3;
      }

      papper-input {
        margin: auto 0.5rem;
        @apply --responsive-form-papper-input;
      }

      paper-button {
        min-width: 150px;
        @apply --paper-font-subhead;
        @apply --responsive-form-paper-button
      }

      paper-icon-button {
        padding: 0;
        height: 1rem;
        @apply --responsive-form-paper-icon-button;
      }


      .formContainer {
        padding: 0 0 2rem 0;
        @apply --layout;
        @apply --layout-horizontal;
        @apply --responsive-form-container;
      }

      .title {
        background-color: cadetblue;
        margin: 0;
        padding: 0.5rem;
        flex: 0 0 calc(100% - 1rem);

        @apply --paper-font-subhead;
        @apply --responsive-form-title;
        @apply --responsive-form-title;
      }

      .action-bar {
        width: 100%;
        text-align: end;
        margin: 0.5rem;
        @apply --responsive-form-action-bar;
      }

      @media (max-width: 425px) {
        .formContainer {
          @apply --layout-vertical;
        }
        paper-input {
          width: 100%;
        }
      }

      @media (min-width: 426px) {
        .formContainer {
          flex-wrap: wrap;
        }
      }

      @media (min-width: 426px) and (max-width: 768px) {
        .formContainer>paper-input {
          flex: var(--sm-responsive-form-flex);
        }
      }

      @media (min-width: 769px) and (max-width: 1024px) {
        .formContainer>paper-input {
          flex: var(--md-responsive-form-flex);
        }
      }

      @media (min-width: 1025px) {
        .formContainer>paper-input {
          flex: var(--lg-responsive-form-flex);
        }
      }
    </style>


    <div class="formContainer">
      <slot name="header"></slot>
      <h1 class="title" hidden="[[!legend]]">[[legend]]</h1>

      <dom-repeat items="{{fields}}" as="field">
        <template>
          <template is="dom-if" if="[[!field.hidden]]">
            <template is="dom-if" if="[[!field.list]]">
              <paper-input id="[[field.id]]" autofocus="[[field.autofocus]]" type="[[field.type]]" label="[[field.label]]"
                on-value-changed="validate" auto-validate required="[[field.required]]" value="{{field.value}}"
                placeholder="[[field.placeholder]]" min="[[field.min]]" max="[[field.max]]" minLength="[[field.minLength]]"
                maxLength="[[field.maxLength]]" size="[[field.size]]">
                <paper-icon-button on-tap="clearInput" param-index="[[index]]" slot="suffix" icon="clear" alt="clear"
                  title="clear" hidden="[[!hasValue(index)]]" />
              </paper-input>
            </template>
            <template is="dom-if" if="[[field.list]]">
              <paper-dropdown-menu id="[[field.id]]" label="[[field.label]]">
                <paper-listbox slot="dropdown-content" class="dropdown-content" selected="{{field.selected}}">
                  <template is="dom-repeat" items="[[field.list]]" as="option">
                    <paper-item value="[[option.value]]">[[option.label]]</paper-item>
                  </template>
                </paper-listbox>
              </paper-dropdown-menu>
            </template>
          </template>
        </template>
      </dom-repeat>

      <slot name="before-actions"></slot>

      <div class="action-bar">
        <dom-repeat items="[[actions]]" as="action">
          <template>
            <paper-button raised noink id="[[action.id]]" disabled="[[action.disabled]]" on-tap="dispatchCustomEvent">[[action.label]]</paper-button>
          </template>
        </dom-repeat>
      </div>

      <slot name="footer"></slot>
    </div>
  </template>

  <script>
    /**
     * `responsive-form` Componente que muestra un formulario HTML responsivo
     *
     * @summary Responsive form.
     * @customElement
     * @polymer
     * @extends {Polymer.Element}
     */
    class ResponsiveForm extends Polymer.Element {
      /**
       * String providing the tag name to register the element under.
       */
      static get is() {
        return 'responsive-form';
      }

      ready() {
        super.ready();

        this.fields.reduce((result, item) => {
          if (item.remember) {
            let value = localStorage.getItem(window.btoa(unescape(encodeURIComponent(this.id + '/' + item.id))));
            if (value) {
              item.value = decodeURIComponent(escape(window.atob(value)));
            }
          } else {
            item.value = '';
          }
        })
      }

      /**
       * Object describing property-related metadata used by Polymer features
       */
      static get properties() {
        return {
          legend: String,
          fields: Array,
          actions: Array,
          clearOnExit: {
            type: Boolean,
            value: true
          }
        };
      }

      clearInput(e) {
        let indexParam = e.srcElement.getAttribute('param-index');
        if (indexParam) {
          let input = this.root.querySelector(`#${this.items[indexParam].id}`)
          input && (input.value = '');
        }
      }

      validate() {
        let valid = true;
        this.root.querySelectorAll('paper-input').forEach(paperInput => {
          const ironInput = paperInput.root.querySelector('iron-input')
          const paperIconButton = paperInput.querySelector('paper-icon-button');
          const isInvalid = ironInput.hasAttribute('invalid');

          if (paperInput.value && paperIconButton.hasAttribute('hidden')) {
            paperIconButton.removeAttribute('hidden');
            paperIconButton.removeAttribute("tabIndex");
          } else if (!paperInput.value && !paperIconButton.hasAttribute('hidden')) {
            paperIconButton.setAttribute('hidden', 'hidden');
          }

          if (isInvalid || !paperInput.validate()) {
            valid = false;
            !isInvalid && ironInput.removeAttribute('invalid');
            this.dispatchEvent(new CustomEvent('form-status-changed', { detail: 'invalid' }));
            return false;
          }
          return true;
        });

        if (valid) {
          this.dispatchEvent(new CustomEvent('form-status-changed', { detail: 'valid' }));
        }
      }

      hasValue(index) {
        return this.fields[index].value;
      }

      dispatchCustomEvent(e) {
        const id = e.target.getAttribute('id');
        let [action] = this.actions.filter((item) => item.id === id);
        if (action) {
          this.dispatchEvent(new CustomEvent(action.eventName, { detail: { target: e.target, form: this } }));
        } else {
          console.log('No action found for', id);

        }
      }

      enable(fieldIDs) {
        fieldIDs = 'string' === typeof fieldIDs ? [fieldIDs] : fieldIDs;
        for (const index in fieldIDs) {
          const element = this.root.querySelector(`#${fieldIDs[index]}`);
          if (element && element.hasAttribute('disabled')) {
            element.removeAttribute('disabled');
          }
        }
      }

      disable(fieldIDs) {
        fieldIDs = 'string' === typeof fieldIDs ? [fieldIDs] : fieldIDs;
        for (const index in fieldIDs) {
          const element = this.root.querySelector(`#${fieldIDs[index]}`);
          if (element && !element.hasAttribute('disabled')) {
            element.setAttribute('disabled', 'disabled');
          }
        }
      }

      getValues() {
        return this.fields.reduce((result, item) => {
          result[item.id] = !item.list ? item.value : (item.list[item.selected] || { value: '' }).value;
          return result;
        }, {})
      }

      disconnectedCallback() {
        return this.clearOnExit && this.fields.reduce((result, item) => {
          if (item.remember) {
            localStorage.setItem(window.btoa(unescape(encodeURIComponent(this.id + '/' + item.id))), window.btoa(unescape(encodeURIComponent(item.value))));
          } else {
            item.value = '';
          }
        });
      }

    }

    window.customElements.define(ResponsiveForm.is, ResponsiveForm);
  </script>
</dom-module>
