<link rel="import" href="../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html" />
<link rel="import" href="../bower_components/app-layout/app-drawer/app-drawer.html" />
<link rel="import" href="../bower_components/app-layout/app-toolbar/app-toolbar.html" />
<link rel="import" href="../bower_components/app-layout/app-header-layout/app-header-layout.html" />
<link rel="import" href="../bower_components/app-layout/app-header/app-header.html" />

<!-- <link rel="import" href="../bower_components/app-route/app-route.html"> -->
<link rel="import" href="../bower_components/paper-tabs/paper-tabs.html" />
<link rel="import" href="../bower_components/paper-dialog/paper-dialog.html" />
<link rel="import" href="../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html" />

<dom-module id="main-layout">
  <template>
    <style is="custom-style" include="shared-styles">
      :host {
        --app-toolbar-font-size: calc(3.5vw);
        --app-drawer-scrim-background: rgba(0, 0, 100, 0.8);

        --app-drawer-content-container: {
          background-color: #b0bec5;
        }
      }

      app-toolbar {
        background-color: #fafafa;
      }

      paper-dialog {
        z-index: 699;
      }

      app-drawer {
        z-index: 599;
      }

      app-header-layout {
        z-index: 499;
      }

      paper-tabs {
        --paper-tabs-selection-bar-color: #31f0ef;
        @apply --layout-center-center;
        background-color: #fafafa;
        margin-left: 0;
        color: #31f0ef;
        font-size: 13px;
      }

      paper-tab {
        @apply --layout-flex-none;
        padding: 0;
        --paper-tab-ink: #31f0ef;
      }

      paper-tab a {
        @apply --layout-horizontal;
        @apply --layout-center-center;
        text-decoration: none;
        text-transform: uppercase;
        color: #7c7c7c;
        font-weight: 500;
        padding: 0 20px;
        height: 100%;
      }

      .profileBar {
        margin-bottom: 40px;
      }

      .profilePic {
        border-radius: 50% 50%;
      }

      .menu-label {
        margin-left: 20px;
        font-size: 14px;
        font-weight: 500;
        color: #0a3142;
      }

      .list {
        margin-left: 20px;
        margin-right: 20px;
      }

      .list a {
        line-height: 40px;
        text-decoration: none;
        text-transform: uppercase;
        color: #7c7c7c;
      }

      .list a paper-button {
        margin: 0;
        padding: 0;
      }

      .list a.active,
      .list a:hover {
        color: black;
        font-weight: bold;
        border-bottom: 3px solid #31f0ef;
      }

      .spacer {
        @apply --layout;
        @apply --layout-flex-auto;
        @apply --layout-center-center;
      }

      .logo {
        width: 120px;
        height: 40px;
        background-size: 100% 100%;
      }

      .appName {}

      #accessDialog {
        position: fixed;
        right: 0;
        margin: 0;
        width: 300px;
        min-height: 100px;
      }

      #accessDialog iron-image {
        width: 50px;
        height: 50px;
      }

      #accessDialog .email {
        color: cadetblue;
      }

      #accessDialog .accessbuttonsbar {
        background-color: #fafafa;
        margin: 0.5rem 0 0 0;
        padding: 0.5rem;
      }

      #toast {
        width: 100%;
      }

      #toast.success {
        background-color: green;
        color: white;
      }

      #toast.error {
        background-color: red;
        color: white;
      }
    </style>

    <!-- <app-route id="appRoute" path="/"></app-route> -->
    <iron-media-query query=" max-width: 425px" query-matches="{{smallScreen}}"></iron-media-query>
    <data-manager id="dataManager" base-url="http://127.0.0.1:3080"></data-manager>

    <app-drawer-layout id="drawerLayout">
      <!-- navigation drawer for small screen sizes -->
      <template is="dom-if" if="[[smallScreen]]">
        <app-drawer id="drawer">
          <app-toolbar class="profileBar">
            <div class="menu-label layout horizontal flex-auto">Going to</div>
          </app-toolbar>
          <div class="list">
            <template is="dom-repeat" items="[[routes]]" as="route" initial-count="1">
              <template is="dom-if" if="[[!route.hidden]]">
                <template is="dom-if" if="[[route.component]]">
                  <a class="layout horizontal" href="#[[route.name]]">
                    <paper-button class="start"> [[route.name]] </paper-button>
                  </a>
                </template>
              </template>
            </template>
          </div>
        </app-drawer>
      </template>

      <app-header-layout id="headerLayout">
        <!-- main header -->
        <app-header slot="header" effects="waterfall" fixed="[[smallScreen]]" condenses="[[!smallScreen]]" reveals="[[!smallScreen]]">
          <app-toolbar id="mainToolbar">
            <div class="navItem leftItem">
              <paper-icon-button icon="menu" id="menuIcon" alt="Toogle navigation menu" hidden="[[!smallScreen]]"></paper-icon-button>
            </div>
            <div class="spacer">
              <div class="appName">TechU Digital Banking</div>
            </div>
            <div class="navItem">
              <paper-icon-button id="accessIcon" icon="account-circle" aria-label="Account Access"></paper-icon-button>
              <paper-dialog id="accessDialog">
                <template is="dom-if" if="[[loggedIn]]">
                  <div class="layout horizontal">
                    <iron-image src="./app/data/svg/profile-pic.svg"></iron-image>
                    <div class="layout vertical flex-auto center-center">
                      <div>[[customer.name]] [[customer.lastName]]</div>
                      <div class="email">[[customer.email]]</div>
                    </div>
                  </div>
                  <div class="accessbuttonsbar layout horizontal">
                    <div class="spacer"></div>
                    <paper-button raised noink>Settings</paper-button>
                    <paper-button raised noink on-click="__logout">Logout</paper-button>
                  </div>
                </template>
              </paper-dialog>
            </div>
          </app-toolbar>
          <template is="dom-if" if="[[!smallScreen]]">
            <paper-tabs id="menuLarge" selected="[[selectedTab]]" scrollable sticky="true">
              <template is="dom-repeat" items="[[routes]]" as="route">
                <template is="dom-if" if="[[!route.hidden]]">
                  <paper-tab hidden="[[route.hidden]]" disabled="[[!route.component]]">
                    <a href="#[[route.name]]">[[route.name]]</a>
                  </paper-tab>
                </template>
              </template>
            </paper-tabs>
          </template>
        </app-header>
      </app-header-layout>

      <app-box opened>
        <section id="main"></section>
        <footer>
          <paper-toast id="toast" text="Your draft has been discarded."></paper-toast>
        </footer>
      </app-box>
    </app-drawer-layout>
  </template>

  <script src="./scripts/routes.js"></script>
  <script>
    /**
     * @customElement
     * @polymer
     */
    class MainLayout extends Polymer.Element {
      static get is() {
        return 'main-layout';
      }
      static get properties() {
        return {
          smallScreen: {
            type: Boolean,
            value: true
          },
          currentPage: {
            type: String,
            value: ''
          },
          routes: {
            value: []
          },
          pages: {
            value: {}
          },
          routesLoggedIn: {
            value: []
          },
          routesLoggedOut: {
            value: []
          },
          selectedTab: {
            type: Number,
            value: 0
          },
          loggedIn: {
            type: Boolean,
            value: false,
            observer: '__logedInStatusChanged'
          },
          customer: Object
        };
      }

      constructor() {
        super();


        // let routesLoggedOut = [
        //   { name: 'Home', component: 'home-page' },
        //   { name: 'About' },
        //   { name: 'Contact' },
        //   { name: 'Login', component: 'login-page', hidden: true }
        // ];

        // let routesLoggedIn = [
        //   { name: 'Home', component: 'home-page' },
        //   { name: 'Accounts', component: 'accounts-page' },
        //   { name: 'Payments', component: 'payments-page' },
        //   { name: 'About' },
        //   { name: 'Contact' }
        // ];

        routesLoggedOut.forEach((item, index) => (item.index = index));
        routesLoggedIn.forEach((item, index) => (item.index = index));

        this.routesLoggedIn = routesLoggedIn;
        this.routesLoggedOut = routesLoggedOut;
        this.routes = routesLoggedOut;
      }

      ready() {
        super.ready();
        this.$.menuIcon.addEventListener('tap', () => this.root.querySelector('#drawer').toggle());

        this.$.accessIcon.addEventListener('tap', e => {
          if (!this.loggedIn) {
            this.__loadPage('Login');
          } else {
            this.$.accessDialog.open();
          }
        });

        window.addEventListener('popstate', e => this.__loadPage(document.location.hash.substring(1)));
        // this.$.appRoute
        //   .addEventListener('route', (e) => this.__loadPage(e.detail.hash));

        window.app = this;

        let accessToken = window.sessionStorage.getItem('accessToken');
        if (accessToken) {
          this.customer = JSON.parse(window.sessionStorage.getItem('customer'));
          if (!this.customer) {
            !this.loggedIn && this.$.dataManager.addEventListener('dm-ready', () => {
              this.$.dataManager
                .json('security/access', 'GET')
                .then(response => {
                  this.customer = response;
                  this.loggedIn = true;

                  // if (this.currentPage === 'Login' || !document.location.hash) {
                  //   this.__loadPage('Home');
                  // } else {
                  //   this.__loadPage(document.location.hash.substring(1));
                  // }
                })
                .catch(error => {
                  console.error(error);
                  this.__loadPage('Home');
                });
            });
          } else {
            this.loggedIn = true;

            // if (this.currentPage === 'Login' || !document.location.hash) {
            //   this.__loadPage('Home');
            // } else {
            //   this.__loadPage(document.location.hash.substring(1));
            // }
          }
        } else {
          if (!document.location.hash) {
            this.__loadPage('Home');
          }
        }
      }

      navigate(page) {
        return !!(this.currentPage !== page) && this.__loadPage(page);
      }

      __loadPage(pageData = 'NotFoundPage') {
        if (this.currentPage === pageData) {
          return;
        }

        console.info('__loadPage', 'pageData', pageData)

        this.currentPage = pageData;
        let paramIndex = pageData.indexOf('?') > -1 ? pageData.indexOf('?') : pageData.length;
        let path = pageData.substring(0, paramIndex);
        let page = path.substr((path.indexOf('/') + 1) || 0);
        let currentTab = path.substr(0, path.indexOf('/') || path.length);
        let params = pageData.substring(paramIndex + 1).split('&').reduce((output, currentValue) => {
          if (currentValue) {
            let [key, value] = currentValue.split('=');
            output[key] = value;
          }
          return output;
        }, {});

        document.location.hash = '#' + pageData;
        let route = this.routes.filter((item, index) => item.name === page)[0] || {};
        let main = this.$.main;
        let drawer = this.root.querySelector('#drawer');
        drawer && drawer.close();

        if (route.component) {
          let element = this.pages[route.component]
          if (false !== route.cache && element) {
            main.innerHTML = '';
            element.params = params;
            main.appendChild(element);
            this.pages[route.component];
          } else {
            let PageComponent = window.customElements.get(route.component);
            if (!PageComponent) {
              Polymer.importHref(
                `${this.importPath}pages/${route.component}/${route.component}.html`,
                (e, res) => {
                  element = document.createElement(route.component);
                  this.pages[route.component] = element;
                  element.params = params;
                  main.innerHTML = '';
                  main.appendChild(element);
                },
                () => {
                  main.innerHTML = '';
                  main.appendChild(document.createElement('not-found-page'));
                }, false
              );
            } else {
              element = new PageComponent();
              this.pages[route.component] = element;
              element.params = params;
              main.innerHTML = '';
              main.appendChild(element);
            }
          }
        } else {
          main.innerHTML = '';
          main.appendChild(document.createElement('not-found-page'));
        }

        let routeTab = this.routes.filter((item, index) => item.name === (currentTab || page))[0] || { index: -1 };
        this.selectedTab = routeTab.index;
      }

      __logedInStatusChanged() {
        console.info('__logedInStatusChanged', 'this.currentPage', this.currentPage, 'this.loggedIn', this.loggedIn);
        this.routes = this.loggedIn ? this.routesLoggedIn : this.routesLoggedOut;
        let route = this.routes.filter((item, index) => item.name === document.location.hash.substring(1))[0] || {};

        this.__loadPage(this.loggedIn
          ? this.currentPage === 'Login'
            ? 'Accounts'
            : document.location.hash.substring(1)
          : route.name ? route.name : 'Home');
        if (this.loggedIn) {
          if (!this.customer) {
            this.customer = JSON.parse(window.sessionStorage.getItem('customer'));
          } else {
            window.sessionStorage.setItem('customer', JSON.stringify(this.customer));
          }
        }
      }

      __logout() {
        window.sessionStorage.removeItem('accessToken');
        window.sessionStorage.removeItem('customer');
        this.loggedIn = false;

        this.$.dataManager
          .json('security/access', 'DELETE')
          .then(response => {
            this.$.accessDialog.close();
            this.__loadPage('Home');
          })
          .catch(error => {
            console.log(error);
            this.$.accessDialog.close();
            this.__loadPage('Home');
          });
      }

      successMessage(message) {
        this.$.toast.classList.remove('error');
        this.$.toast.classList.add('success');
        this.$.toast.text = message;
        this.$.toast.open();
      }

      errorMessage(message) {
        this.$.toast.classList.remove('success');
        this.$.toast.classList.add('error');
        this.$.toast.text = message;
        this.$.toast.open();
      }
    }

    window.customElements.define(MainLayout.is, MainLayout);
  </script>
</dom-module>
