<!--
  @license



  Copyright (c) 2015 The Polymer Project Authors. All rights reserved.



  This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt



  The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt



  The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt



  Code distributed by Google as part of the polymer project is also



  subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<!-- Common elemens -->
<link rel="import" href="../bower_components/polymer/polymer-element.html" />

<!-- Papper elements -->
<link rel="import" href="../bower_components/app-layout/app-box/app-box.html" />
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html" />
<link rel="import" href="../bower_components/paper-button/paper-button.html" />
<link rel="import" href="../bower_components/paper-dropdown-menu/paper-dropdown-menu.html" />
<link rel="import" href="../bower_components/paper-listbox/paper-listbox.html" />
<link rel="import" href="../bower_components/neon-animation/web-animations.html" />
<link rel="import" href="../bower_components/paper-item/paper-item.html" />
<link rel="import" href="../bower_components/paper-item/paper-item-body.html" />
<link rel="import" href="../bower_components/paper-item/paper-icon-item.html" />
<link rel="import" href="../bower_components/paper-dialog/paper-dialog.html" />
<link rel="import" href="../bower_components/paper-fab/paper-fab.html" />
<link rel="import" href="../bower_components/paper-toast/paper-toast.html" />

<!-- Iron elements -->
<link rel="import" href="../bower_components/iron-media-query/iron-media-query.html" />
<link rel="import" href="../bower_components/iron-icons/iron-icons.html" />
<link rel="import" href="../bower_components/iron-icon/iron-icon.html" />
<link rel="import" href="../bower_components/iron-image/iron-image.html" />
<link rel="import" href="../bower_components/iron-list/iron-list.html" />
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html" />

<!-- My Common elements here -->
<!-- <link rel="import" href="styles/app-theme.html"> -->
<link rel="import" href="styles/shared-styles.html" />
<link rel="import" href="main-layout.html" />
<link rel="import" href="pages/home-page/home-page.html" />
<link rel="import" href="pages/not-found-page/not-found-page.html" />
<link rel="import" href="local-components/responsive-form/responsive-form.html" />
<link rel="import" href="local-components/data-manager/data-manager.html" />
<link rel="import" href="local-components/data-format/data-format.html" />
