<dom-module id="home-page">
  <template>
    <style is="custom-style" include="shared-styles">
      :host {}
    </style>

    <div class="container">
      <article>
        <div>
          <img src="//app-layout-assets.appspot.com/assets/landing-page/berries.jpg">
        </div>
        <div>
          <h3>About</h3>
          <p>Lorem ipsum dolor sit amet, per in nusquam nominavi periculis, sit elit oportere ea. Lorem ipsum dolor
            sit
            amet, per in nusquam nominavi periculis, sit elit oportere ea.</p>
          <p>Convenire definiebas scriptorem eu cum. Sit dolor dicunt consectetuer no. Convenire definiebas
            scriptorem
            eu cum. Sit dolor dicunt consectetuer no.</p>
        </div>
      </article>
    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class HomePage extends Polymer.Element {
      static get is() { return 'home-page'; }
      static get properties() { }
    }

    window.customElements.define(HomePage.is, HomePage);
  </script>
</dom-module>