<dom-module id="accounts-page">
  <template>
    <style is="custom-style" include="shared-styles">
      :host {
        display: block;
      }

      .account-data {
        flex-grow: 1;
      }

      .account-id {
        font-weight: 400;
      }

      .account-name {
        font-size: 0.8rem;
      }

      .balance {
        font-weight: bold;
        font-size: 1.4rem;
        margin-right: 0.5rem;
      }

      .more-icon {
        position: absolute;
        right: 0;
      }

      .actions-container {
        display: flex
      }

      .hidden {
        display: none !important;
      }

      #actionsDialog {
        position: fixed;
        display: flex;
        box-shadow: none;
        background-color: transparent;
        z-index: 999;
      }
    </style>

    <div id="actionsDialog" class="actions-containers hidden">
      <paper-fab icon="icons:send" title="Pay" on-click="__actionClick"></paper-fab>
      <paper-fab icon="icons:compare-arrows" title="Transfer" on-click="__actionClick"></paper-fab>
      <paper-fab icon="icons:payment" title="Pay credit card" on-click="__actionClick" hidden="[[!hasCreditCards]]"></paper-fab>
      <paper-fab icon="icons:more-horiz" title="Movements" on-click="__showOperations"></paper-fab>
    </div>

    <div class="container">
      <h1>Balance</h1>

      <iron-list items="[[accounts]]" as="account">
        <template>
          <paper-icon-item>
            <iron-icon icon="icons:credit-card" slot="item-icon"> </iron-icon>
            <paper-item-body two-line>
              <div class="list-item">
                <div class="account-data">
                  <div class="account-id">[[account.accountID]]</div>
                  <div class="account-name">([[account.accountName]])</div>
                </div>
                <div class="balance">
                  <data-format value="[[account.balance]]" type="Number" locale="es-MX" options="{ 'style': 'currency', 'currency': 'USD' }" />
                </div>
                <iron-icon class="more-icon" icon="icons:more-vert" on-click="__openActionsDialog"> </iron-icon>
              </div>
            </paper-item-body>
          </paper-icon-item>
        </template>
      </iron-list>
    </div>
  </template>

  <script>
    /**
     * `accounts-page` Accounts List Page
     *
     * @summary Accounts Page.
     * @customElement
     * @polymer
     * @extends {Polymer.Element}
     */
    class AccountsPage extends Polymer.Element {
      /**
       * String providing the tag name to register the element under.
       */
      static get is() {
        return 'accounts-page';
      }

      /**
       * Object describing property-related metadata used by Polymer features
       */
      static get properties() {
        return {
          accounts: Array,
          hasCreditCards: {
            value: false
          }
        };
      }

      /**
       * Use for one-time configuration of your component after local DOM is initialized.
       */
      ready() {
        super.ready();

        this.addEventListener('click', this.__hideOptionsDialog);

        app.$.dataManager
          .json('api/customers/accounts', 'GET')
          .then(accounts => {
            this.accounts = accounts;
            for (let account of accounts) {
              if (account.credit) {
                this.hasCreditCards = true;
                window.sessionStorage.setItem('hasCreditCards', 'true');
              }
              window.sessionStorage.setItem(account._id.$oid, JSON.stringify(account));
            }
          })
          .catch(error => {
            app.errorMessage('Could not get account information');
            console.log('error', error);
          });
        app.accountsInfo = this;
      }

      __showOperations(e) {
        app.navigate(`Accounts/Operations?account=${this.$.actionsDialog.account._id.$oid}`);
      }

      __openActionsDialog(e) {
        this.removeEventListener('click', this.__hideOptionsDialog);

        this.$.actionsDialog.classList.contains('hidden')
          ? this.$.actionsDialog.classList.remove('hidden')
          : this.$.actionsDialog.account === e.model.account
            ? this.$.actionsDialog.classList.add('hidden')
            : this.$.actionsDialog.classList.remove('hidden');

        let tPosition = e.currentTarget.parentNode.parentNode.parentNode.getBoundingClientRect();
        let ePosition = this.$.actionsDialog.getBoundingClientRect();
        this.$.actionsDialog.style.top = (tPosition.top + (tPosition.height - ePosition.height) - 12) + 'px';
        this.$.actionsDialog.style.left = (tPosition.left + tPosition.width - ePosition.width - 12) + 'px';

        this.$.actionsDialog.account = e.model.account;
        setTimeout(() => {
          this.addEventListener('click', this.__hideOptionsDialog)
        }, 10);
      }

      __hideOptionsDialog(e) {
        this.$.actionsDialog.classList.add('hidden');
        this.$.actionsDialog.account = null;
      }

      __actionClick(e) {
        app.navigate(`Accounts/Payments?account=${this.$.actionsDialog.account._id.$oid}&operation=${e.currentTarget.title}`);
        this.$.actionsDialog.account.account
      }
    }

    window.customElements.define(AccountsPage.is, AccountsPage);
  </script>
</dom-module>
