<dom-module id="data-manager">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
  </template>

  <script>
    /**
     * `data-manager` Data manager component for consuming data form third party services
     *
     * @summary Data access manager.
     * @customElement
     * @polymer
     * @extends {Polymer.Element}
     */
    class DataManager extends Polymer.Element {
      /**
       * String providing the tag name to register the element under.
       */
      static get is() {
        return 'data-manager';
      }

      /**
       * Object describing property-related metadata used by Polymer features
       */
      static get properties() {
        return {
          ready: Boolean,
          baseUrl: String
        };
      }

      ready() {
        super.ready();
        this.dispatchEvent(new CustomEvent('dm-ready'));
        this.ready = true;
      }

      paramsStringify(data) {
        let params = [];
        for (let key in data) {
          let value = data[key];
          if (typeof value === 'object') {
            value = JSON.stringify(value);
          } else if (typeof value === 'array') {
            value = JSON.stringify(value);
            for (let index in value) {
              paramItem = {};
              paramItem[key] = value[index];
              params.push(paramsStringify, paramItem);
            }
            continue;
          }
          params.push(`${key}=${encodeURIComponent(value)}`);
        }

        return params.join('&');
      }

      json(resourcePath, method, data, options = {}, queryParams) {
        let params =
          !method || 'GET' === method || 'DELETE' === method
            ? this.paramsStringify(data)
            : queryParams
              ? this.paramsStringify(queryParams)
              : '';
        let body = (method === 'POST' || method === 'PUT') && data ? JSON.stringify(data) : '';

        return new Promise((resolve, reject) => {
          let req = new XMLHttpRequest();
          req.open(method || 'GET', `${this.baseUrl}/${resourcePath}${params ? '?' + params : ''}`);

          for (var header in options || {}) {
            if ((options || {})[header]) {
              req.setRequestHeader(header, (options || {})[header]);
            }
          }
          req.setRequestHeader('Content-Type', 'application/json');
          req.setRequestHeader('Accept', 'application/json');
          let accessToken = window.sessionStorage.getItem('accessToken');
          if (accessToken) {
            req.setRequestHeader('Access-Token', accessToken);
          }

          req.onload = function() {
            if (req.status === 200 && req.readyState === 4) {
              var contentType = req.getResponseHeader('content-type');
              if (contentType && contentType.indexOf('application/json') !== -1) {
                var accessToken = req.getResponseHeader('Access-Token');
                if (accessToken) {
                  window.sessionStorage.setItem('accessToken', accessToken);
                }
                resolve(JSON.parse(req.response));
              } else {
                reject({ status: 500, statusText: 'Content-Type not expected: ' + contentType });
              }
            } else {
              reject({ statusCode: req.status, statusText: req.statusText });
            }
          };

          req.onerror = function() {
            reject({ statusCode: 500, statusText: 'Internal server error' });
          };

          req.send(body);
        }).catch(error => Promise.reject(error));
      }
    }

    window.customElements.define(DataManager.is, DataManager);
  </script>
</dom-module>
